In [35]:
import pandas as pd

In [36]:
pd.__version__

'2.1.1'

In [46]:
dict_metrics = {
  'age': [12, 12, 34, 43, 56, 57, 60, 76, 82], 
  'height': [123, 133, 144, 155, 166, 177, 188, 199, 200]
}

In [47]:
dict_metrics

{'age': [12, 12, 34, 43, 56, 57, 60, 76, 82],
 'height': [123, 133, 144, 155, 166, 177, 188, 199, 200]}

In [48]:
df_metrics = pd.DataFrame.from_dict(dict_metrics)

In [49]:
df_metrics

   age  height
0   12     123
1   12     133
2   34     144
3   43     155
4   56     166
5   57     177
6   60     188
7   76     199
8   82     200

### Measures

#### Position Measures

In [50]:
# Mean

df_metrics["age"].mean()

48.0

In [52]:
# Median
df_metrics["age"].median()

56.0

In [53]:
# Mode
df_metrics["age"].mode()

0    12
Name: age, dtype: int64

#### Measures of Dispersion

In [56]:
# Variant
df_metrics.age.var()

630.25

In [59]:
# Standard deviation
df_metrics.age.std()

25.104780421266383

In [62]:
# Coefficient of variation
df_metrics.age.std() / df_metrics.age.mean() * 100

52.3016258776383