In [2]:
import pandas as pd

In [3]:
pd.__version__

'2.1.1'

In [4]:
dict_metrics = {
  'age': [12, 12, 34, 43, 56, 57, 60, 76, 82], 
  'height': [123, 133, 144, 155, 166, 177, 188, 199, 200]
}

In [5]:
dict_metrics

{'age': [12, 12, 34, 43, 56, 57, 60, 76, 82],
 'height': [123, 133, 144, 155, 166, 177, 188, 199, 200]}

In [6]:
df_metrics = pd.DataFrame.from_dict(dict_metrics)

In [7]:
df_metrics

   age  height
0   12     123
1   12     133
2   34     144
3   43     155
4   56     166
5   57     177
6   60     188
7   76     199
8   82     200

### Measures

#### Position Measures

In [8]:
# Mean

df_metrics["age"].mean()

48.0

In [9]:
# Median
df_metrics["age"].median()

56.0

In [10]:
# Mode
df_metrics["age"].mode()

0    12
Name: age, dtype: int64

#### Measures of Dispersion

In [11]:
# Variant
df_metrics.age.var()

630.25

In [12]:
# Standard deviation
df_metrics.age.std()

25.104780421266383

In [13]:
# Coefficient of variation
df_metrics.age.std() / df_metrics.age.mean() * 100

52.3016258776383

#### Measuere of Shape

In [14]:
# asymmetry - age
df_metrics.age.skew()

-0.3245918516693198

In [15]:
# asymmetry - height
df_metrics.height.skew()

-0.15001585503995266

In [16]:
# kurtosis - age
df_metrics.age.kurtosis()

-0.9430473375939945

In [17]:
# kurtosis - height
df_metrics.height.kurtosis()

-1.415759794222398

#### Measure resume

In [18]:
df_metrics.age.describe()

count     9.00000
mean     48.00000
std      25.10478
min      12.00000
25%      34.00000
50%      56.00000
75%      60.00000
max      82.00000
Name: age, dtype: float64

#### Correlation

In [20]:
# pearson correlation of dataframe

df_metrics.corr(method='pearson')

             age    height
age     1.000000  0.976829
height  0.976829  1.000000

In [21]:
# pearson correlation between two variables

df_metrics.age.corr(df_metrics.height)

0.9768292635786108

In [22]:
# Spearman correlation of dataframe
df_metrics.corr(method='spearman')

             age    height
age     1.000000  0.995825
height  0.995825  1.000000